body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/017/899/278/large/artur-kordas-dw-trailer-kapliczka.jpg?1557776165");
  color: silver;
}
#main-container {
  height: 960px;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
  border: 1px solid grey;
}
#text {
  width: 75%;
  border: 1px solid grey;
  background-color: rgb(7, 7, 7);
  opacity: 0.8;
}
#icon {
  width: 25%;
  border: 1px solid grey;
}
#main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
#choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rps {
  width: 150px;
  height: 150px;
  margin: 0 25px;
  border: 1px solid grey;
  background-color: rgb(0, 12, 0);
  opacity: 0.8;
}
.rps:hover {
  transform: scale(1.05);
  border-color: silver;
  box-shadow: 0 0 3px white;
}

#players {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.choice {
  width: 140px;
  height: 140px;
  margin: 0 120px;
  border: 1px solid grey;
  background-color: rgb(0, 12, 0);
  opacity: 0.9;
}
.score {
  width: 140px;
  height: 140px;
  border: 1px solid grey;
  background-color: rgb(0, 2, 0);
  opacity: 0.9;
}
.player-img {
  width: 140px;
  height: 140px;
  margin: 0 10px;
  border: 1px solid grey;
  background-color: rgb(0, 2, 0);
  opacity: 0.9;
}
#score {
  border: 1px solid grey;
}

#footer {
}

#boss2-icon {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#boss2-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#rock-img,
#paper-img,
#scissors-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
