body {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/017/899/241/large/artur-kordas-dw-trailer-drzewo.jpg?1557776011");
}
#main-container {
  height: 960px;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
  border: 1px solid silver;

  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
}
#text {
  border: 1px solid silver;
  width: 75%;
}
#icon {
  border: 1px solid silver;
  width: 25%;
}
#main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
#choose {
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rps {
  border: 1px solid silver;
  width: 150px;
  height: 150px;
  margin: 0 25px;
}

#players {
  border: 1px solid silver;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#choice {
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.choice {
  border: 1px solid silver;
  width: 140px;
  height: 140px;
  margin: 0 120px;
}
.score {
  border: 1px solid silver;
  width: 140px;
  height: 140px;
}
.player-img {
  border: 1px solid silver;
  width: 140px;
  height: 140px;
  margin: 0 10px;
}
#score {
  border: 1px solid silver;
}

#footer {
  border: 1px solid silver;
}
