body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/018/665/754/large/artur-kordas-kosciol-00000.jpg?1560255202");
}
#main-container {
  height: 960px;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
}
#text {
  width: 75%;
}
#icon {
  width: 25%;
}
#main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
#choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rps {
  width: 150px;
  height: 150px;
  margin: 0 25px;
}

#players {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.choice {
  width: 140px;
  height: 140px;
  margin: 0 120px;
}
.score {
  width: 140px;
  height: 140px;
}
.player-img {
  width: 140px;
  height: 140px;
  margin: 0 10px;
}
#score {
}

#footer {
}
