body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/017/899/278/large/artur-kordas-dw-trailer-kapliczka.jpg?1557776165");
  color: silver;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 21px;
}
#main-container {
  height: 960px;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
  border: 1px solid grey;
}
#text {
  width: 75%;
  border: 1px solid grey;
  background-color: rgb(7, 7, 7);
  opacity: 0.8;
}
#icon {
  width: 25%;
  border: 1px solid grey;
}
#main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
#choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rps {
  width: 150px;
  height: 150px;
  margin: 0 25px;
  border: 1px solid grey;
  background-color: rgb(0, 12, 0);
  opacity: 0.8;
}
.rps:hover {
  transform: scale(1.05);
  border-color: silver;
  box-shadow: 0 0 3px white;
}

#players {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.choice {
  width: 140px;
  height: 140px;
  margin: 0 120px;
  border: 1px solid grey;
  background-color: rgb(0, 12, 0);
  opacity: 0.9;
}
.score {
  border: 1px solid grey;
  width: 140px;
  height: 140px;
  background-color: rgb(0, 2, 0);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-img {
  width: 140px;
  height: 140px;
  margin: 0 10px;
  border: 1px solid grey;
  background-color: rgb(0, 2, 0);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
}
.bossName {
  position: absolute;
  font-size: 16px;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
#score {
  border: 1px solid grey;
  background-color: rgb(8, 6, 0);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#boss2-icon {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#boss2-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#rock,
#paper,
#scissors {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#choiceHoomanImg {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#choiceCompImg {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#youImg {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#scoreHooman {
  font-size: 60px;
}
#scoreComp {
  font-size: 60px;
}
#replay-button {
  color: silver;
  background-color: rgb(0, 2, 0);
  font-size: 18px;
  width: 90px;
  height: 50px;
}
#replay-button:hover {
  box-shadow: 0 0 3px grey;
  text-shadow: 0 0 3px white;
}
#backHome {
  color: silver;
  margin-top: 20px;
}
#backHome:hover {
  text-shadow: 0 0 3px white;
}
#footer {
  margin-top: 20px;
  margin-left: 10px;
}
