body {
  background-image: url("https://cdn.wallpapersafari.com/94/66/th8vCL.jpg");
  color: silver;
}
#main-container {
  height: 960px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
}
#text {
  background-color: rgb(4, 17, 4);
  border: 1px solid silver;
  width: 75%;
}
#icon {
  border: 1px solid silver;
  width: 25%;
}
#wolf-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
.char {
  max-width: 100%;
  max-height: 100%;
}
.boss-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
.boss-img-spec {
  max-width: 100%;
  max-height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#char-container {
  background-color: rgb(13, 17, 1);
  opacity: 0.8;
  border: 1px solid silver;
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}
.char {
  border: 1px solid silver;
  width: 165px;
  height: 165px;
}
#footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
#you {
  display: flex;
  justify-content: center;
  align-items: center;
}
.you {
  border: 1px solid silver;
  width: 140px;
  height: 140px;
}
#bosses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.boss {
  border: 1px solid silver;
  width: 140px;
  height: 140px;
}
